Django>=5.2,<6.0
djangorestframework>=3.15,<4
djangorestframework-simplejwt>=5.3,<6
drf-spectacular>=0.27,<1
Pillow>=10,<13
psycopg[binary]>=3.2,<4
openpyxl>=3.1,<4
coverage>=7.6 ; python_version >= "3.12"
reportlab>=4.2,<6
